@model IEnumerable<TedEx.Models.Event>
@{
    ViewBag.Title = "Home Page";
}
<ul>
    @foreach (var event1 in Model)
    {
        <li>@event1.DateTime -  @event1.Speaker.Name</li>
    }
</ul>